* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* peak font I must say */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f0f0f0;
}

p {
  margin-bottom: 20px;
  color: #ccc;
  max-width: 800px;
  text-align: center;
}

a {
  color: #23a1f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-container {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}

.settings {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 200px;
}

.settings label {
  font-size: 0.9rem;
  color: #ddd;
}

.settings input {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: #fff;
}

.settings button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background-color: #23a1f5;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.settings button:hover {
  background-color: #0c69a7;
}

.visualizer {
  padding: 10px;
  border-radius: 10px;
  background-color: #242424;
}

canvas {
  display: block;
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}
